@import 'core';

:host {
    --drawer-container-width: 280px;
    --drawer-wrapper-width: 280px;
    display: flex;
    height: 100vh;
    position: relative;
}

// :host-context(.drawer--opened) {
//     .drawer__brand {
//         visibility: visible;
//     }

//     .drawer__btn {
//         left: -24px;
//     }

//     .toolbar__title {
//         margin-left: 24px;
//     }
// }

.drawer__container {
    position: relative;
    height: 100%;
    width: var(--drawer-container-width);
    overflow: hidden;
    transition: width .1s ease-out;
    z-index: 2;
}

.drawer__shadow {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(#000, .6);
}

.drawer__wrapper {
    position: relative;
    width: 280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #444;
    width: var(--drawer-wrapper-width);
}

.drawer__brand {
    color: #FFF;
    margin-left: 24px;
}

.drawer__content {
    width: calc(100% - var(--drawer-container-width));
}

mat-toolbar {
    background-color: #FFF;
    position: relative;
}

.drawer__menu {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    width: calc(100% - 4px);
    padding: 0 12px;
    margin: 1px 0 1px 4px;
    font-size: 18px;
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    transition: all .1s linear;
    border-radius: 40px 0 0 40px;
    font-weight: 500;

    mat-icon {
        margin: 0 5px;
    }

    &:hover {
        background-color: #F3F3F3;
    }
}

.drawer__menu--active {
    background-color: #F3F3F3;
}

.drawer__menu--version {
    cursor: default;
    border-top: 1px solid rgba(#000, .3);
    border-radius: 0;
    margin: 0;
    width: 100%;
    padding: 0 0 0 16px;

    &:hover {
        background-color: transparent;
    }
}

.page-header {
    margin-bottom: 10px;
}

main {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 84px);
}

@include mobile-device(true) {
    :host {
        --drawer-container-width: 0px;
    }

    :host-context(.drawer--opened) {
        --drawer-container-width: 100%;
    }


    mat-toolbar {
        padding: 0 4px;
    }

    .drawer__container {
        position: absolute;
        top: 0;
        left: 0;
    }

    .drawer__content {
        width: 100%;
    }

    main {
        padding: 10px;
    }
}

@include mobile-device(false) {
    :host {
        --drawer-container-width: 64px;
    }

    :host-context(.drawer--opened) {
        --drawer-container-width: 280px;

        .drawer__brand {
            visibility: visible;
        }

        .drawer__btn {
            left: -24px;
        }

        .toolbar__title {
            margin-left: 12px;
        }
    }

    .drawer__brand {
        visibility: hidden;
    }

    .drawer__btn {
        position: absolute;
        left: -56px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        background-color: #FFF;
    }

    .toolbar__title {
        margin-left: 0px;
        transition: all .1s linear;
    }

    main {
        padding: 10px 20px;
    }

    .page-header {
        margin-bottom: 10px;
    }
}