<div class="drawer__container mat-elevation-z1">
  <div class="drawer__shadow" (click)="onDrawerToggle()"></div>
  <app-drawer (change)="title = $event"></app-drawer>
</div>
<div class="drawer__content">
  <mat-toolbar class="mat-elevation-z1" color="primary">
    <button class="drawer__btn" mat-icon-button (click)="onDrawerToggle()">
      <mat-icon class="material-symbols-outlined">menu_open</mat-icon>
    </button>
    <span>{{ title }}</span>
    <div style="flex: 1"></div>
    <button mat-icon-button matTooltip="Notifications">
      <mat-icon
        class="material-symbols-outlined"
        matBadge="7"
        matBadgeColor="accent"
        >notifications</mat-icon
      >
    </button>
    <button mat-icon-button matTooltip="Logout">
      <mat-icon class="material-symbols-outlined">logout</mat-icon>
    </button>
    <!-- <mat-menu #accountMenu>
      <a href="#" [routerLink]="profileUrl" mat-menu-item>
        <mat-icon class="action-button material-symbols-outlined"
          >person</mat-icon
        >
        Profile
      </a>
      <button mat-menu-item (click)="onLogoutHandler()">
        <mat-icon class="action-button material-symbols-outlined"
          >logout</mat-icon
        >Logout
      </button>
    </mat-menu> -->
  </mat-toolbar>
  <main>
    <app-breadcrumb class="page-header">
      <button mat-icon-button color="primary">
        <mat-icon class="action-button material-symbols-outlined"
          >search</mat-icon
        >
      </button>
      <button mat-icon-button color="primary">
        <mat-icon class="action-button material-symbols-outlined"
          >filter_alt</mat-icon
        >
      </button>
      <button mat-icon-button color="primary">
        <mat-icon class="action-button material-symbols-outlined"
          >person_add</mat-icon
        >
      </button>
    </app-breadcrumb>
    <router-outlet #route="outlet"></router-outlet>
  </main>
</div>
