<div class="drawer__container">
  <div class="drawer__shadow" (click)="isDrawerOpened = false"></div>
  <div class="drawer__wrapper fill--primary">
    <h2 class="drawer__brand">Appinventiv</h2>
    <a
      class="drawer__menu"
      matRipple
      matRippleColor="rgba(255, 255, 255, .1)"
      [routerLink]="[menu.link]"
      routerLinkActive="drawer__menu--active"
      [routerLinkActiveOptions]="{ exact: menu.exact }"
      *ngFor="let menu of sideMenus"
      (click)="onMenuHandler(menu)"
    >
      <mat-icon class="material-symbols-outlined">{{ menu.icon }}</mat-icon
      >&nbsp;&nbsp;&nbsp;
      <span>{{ menu.label }}</span>
    </a>
    <div style="flex: 1"></div>
    <span class="drawer__menu drawer__menu--version">
      <mat-icon class="material-symbols-outlined">info</mat-icon
      >&nbsp;&nbsp;&nbsp;
      <span>v</span>
      <span style="font-weight: bold">{{ appVersion }}</span>
    </span>
  </div>
</div>
<div class="drawer__content">
  <mat-toolbar style="border-bottom: 1px solid #ddd">
    <button
      class="drawer__btn"
      mat-icon-button
      color="primary"
      (click)="onDrawerToggle()"
    >
      <mat-icon class="material-symbols-outlined">menu_open</mat-icon>
    </button>
    <span class="toolbar__title text--primary">{{ title }}</span>
    <div style="flex: 1"></div>
    <button mat-icon-button color="primary" matTooltip="Notifications">
      <mat-icon
        class="material-symbols-outlined"
        matBadge="7"
        matBadgeColor="accent"
        >notifications</mat-icon
      >
    </button>
    <button
      mat-icon-button
      color="primary"
      matTooltip="Account"
      [matMenuTriggerFor]="accountMenu"
    >
      <mat-icon class="material-symbols-outlined">person</mat-icon>
    </button>
    <mat-menu #accountMenu>
      <button mat-menu-item>Manage Profile</button>
      <button mat-menu-item>Change Password</button>
      <button mat-menu-item (click)="onLogoutHandler()">Logout</button>
    </mat-menu>
  </mat-toolbar>
  <main>
    <app-breadcrumb class="page-header"></app-breadcrumb>
    <router-outlet #route="outlet"></router-outlet>
  </main>
</div>
