@import 'core';

:host {
    --drawer-container-width: 280px;
    --drawer-wrapper-width: 280px;
    display: flex;
    height: 100vh;
    position: relative;
}

:host-context(.drawer--opened) {
    .drawer__brand {
        visibility: visible;
    }
}

app-drawer {
    height: 100%;
    width: var(--drawer-wrapper-width);
}

.drawer__content {
    width: calc(100% - var(--drawer-container-width));
}

.drawer__container {
    position: relative;
    height: 100%;
    width: var(--drawer-container-width);
    overflow: hidden;
    transition: width .1s ease-out;
    z-index: 2;
}

.drawer__shadow {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(#000, .6);
}

.page-header {
    margin-bottom: 10px;
}

main {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 84px);
}

@include mobile-device(true) {
    :host {
        --drawer-container-width: 0px;
    }

    :host-context(.drawer--opened) {
        --drawer-container-width: 100%;
    }


    mat-toolbar {
        padding: 0 4px;
    }

    .drawer__container {
        position: absolute;
        top: 0;
        left: 0;
    }

    .drawer__content {
        width: 100%;
    }

    main {
        padding: 10px;
    }
}

@include mobile-device(false) {
    :host {
        --drawer-container-width: 64px;
    }

    :host-context(.drawer--opened) {
        --drawer-container-width: 280px;

        .drawer__brand {
            visibility: visible;
        }

    }

    .drawer__brand {
        visibility: hidden;
    }

    .toolbar__title {
        margin-left: 0px;
        transition: all .1s linear;
    }

    main {
        padding: 10px 20px;
    }

    .page-header {
        margin-bottom: 10px;
    }
}

main button {
    margin: 0 2px;
}