<div class="not-found-wrapper">
  <span class="not-found-code">
    <span>0</span>
  </span>
</div>
<div class="not-found-wrapper">
  <svg width="100%" height="10px" class="not-found-svg">
    <path [attr.d]="svgPath" fill="#448"></path>
    <path [attr.d]="svgPath" fill="#448"></path>
  </svg>
  <span class="not-found-title">Page Not Found !</span>
  <span class="not-found-description">The page you are looking for might have been removed, had it's name changed or is temporarily unavailable.</span>
  <button mat-button mat-raised-button class="not-found-button" routerLink="/">
    <mat-icon>home</mat-icon>&nbsp;
    <span style="font-size: 17px">HOME</span>&nbsp;
  </button>
</div>