
.auth-form__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 30px;
}

mat-form-field {
    width: 100%;
    margin: 5px 0;
}
mat-slide-toggle {
    margin: 10px 0;
}
.form-field-icon {
    color: rgba(#000, .4);
    vertical-align: bottom;
    transform: translateY(1px);
    margin-right: 2px;
}
.form-field-icon--action {
    cursor: pointer;
}