
@mixin header-theming($theme) {
    $primary: map-get($map: $theme, $key: primary);
    .header-link {
        color: mat-color($primary, 500);
    }
    app-header {
        border-color: mat-color($primary, 500);
    }
}