<div class="table-box__header">
  <span class="text--primary">{{label}}</span>
  <div style="flex: 1"></div>
  <button mat-icon-button color="primary" matTooltip="Search" [disabled]="!isSearchApplied && isInactive" [matMenuTriggerFor]="searchMenu" (click)="searchInput.focus()">
    <mat-icon>search</mat-icon>
  </button>
  <mat-menu #searchMenu="matMenu">
    <mat-form-field (click)="onFormFieldClickHandler($event)">
      <input matInput [placeholder]="placeholder" type="search" [disabled]="!isSearchApplied && isInactive" #searchInput (paste)="onPasteHandler($event)" (keydown)="onSearchHandler($event)" autocomplete="off"/>
      <mat-hint [ngClass]="{'search-error': isSearchError}">{{ searchHint }}</mat-hint>
      <mat-icon class="search-clear" [ngClass]="{'search-clear--disabled': disabled}" matTooltip="clear" matSuffix (click)="searchInput.value = ''">close</mat-icon>
    </mat-form-field>
  </mat-menu>
  <button mat-icon-button color="primary" matTooltip="Filter" [disabled]="!isFilterApplied && isInactive" (click)="onFilterHandler()">
    <mat-icon>filter_list</mat-icon>
  </button>
  <ng-container [ngTemplateOutlet]="headerTemplate"></ng-container>
</div>

<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort [matSortDisabled]="!hasSorting" class="mat-elevation-z1" *ngIf="!!tableSource">
    <ng-container matColumnDef="selection">
      <th mat-header-cell *matHeaderCellDef class="table-header">
          <mat-checkbox (change)="onHeadSelectionChangeHandler($event)" color="primary"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox (change)="onSelectionChangeHandler($event)" color="primary"></mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef class="table-header align--center">Sr. No.</th>
      <td mat-cell *matCellDef="let element;let i = index" class="align--center"> {{ pageIndex * pageSize + i + 1 }} </td>
    </ng-container>
    <ng-container [matColumnDef]="column.id" *ngFor="let column of tableSource.columns">
      <th mat-header-cell *matHeaderCellDef class="table-header" mat-sort-header [disabled]="!column.sorting" [attr.data-centered]="column.centered">{{column.title}}</th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'align--center': column.centered}">
        <ng-container [ngTemplateOutlet]="templateOutlet(column) || columnTemplate" [ngTemplateOutletContext]="{row: element}"></ng-container>
        <ng-template #columnTemplate>
          {{ column.resolve && column.resolve(element) }}
        </ng-template>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<mat-paginator *ngIf="!isEmpty" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageHandler($event)"></mat-paginator>

<span class="table__placeholder content--center" *ngIf="!isLoaded">
  Loading Data ...
</span>
<span class="table__placeholder content--center" *ngIf="isLoaded && !length">
  No Data Found
</span>