:host {
    display: block;
    width: 260px;
    position: relative;
}
.filter-title {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #666;
}
.dialog-button {
    position: absolute;
    top: -24px;
    right: -24px;
}
mat-form-field {
    width: 100%;
}
.filter-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

