
:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.dashboard-card {
    height: 120px;
    width: 300px;
    margin: 10px;
    background-color: #FFF;
    display: flex;
    flex-direction: row;
}
.dashboard-card__icon {
    height: 120px;
    width: 120px;
    box-sizing: border-box;
    border: 1px solid #FFF;
    color: #FFF;
    background-color: #03a9f4;
    mat-icon {
        height: 30px;
        width: 30px;
        font-size: 30px;
        padding: 12px;
        border-radius: 50%;
        border: 1px solid rgba(#FFF, .4);
    }
}
.dashboard-card__data {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    span {
        &:nth-child(1) {
            font-size: 30px;
            color: #999;
        }
        &:nth-child(2) {
            font-size: 20px;
            margin-top: 5px;
        }
    }
}