@use 'sass:map';
@use '@angular/material' as mat;

@mixin public-theming($theme) {
    $color-config: mat.get-color-config($theme);
    $primary: map.get($color-config, 'primary');
    $accent: map.get($color-config, 'accent');

    .auth-card__container {
        background-color: rgba(mat.get-color-from-palette($primary), .7);
    }

    .auth-seccess__title {
        color: mat.get-color-from-palette($primary);
    }
}