:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    // background-color: #FFF;
    height: 48px;
    // border-radius: 2px;
    font-size: 18px;
    padding: 0 5px;
    color: #444;
    // box-sizing: border-box;
    // border-left-width: 5px;
    // border-left-style: solid;
}
.header-link {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}