<table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Unique ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element">
      {{ element.title }}
    </td>
  </ng-container>

  <!-- CreateAt Column -->
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef>Created At</th>
    <td mat-cell *matCellDef="let element">{{ element.createdAt | date }}</td>
  </ng-container>

  <!-- BlockedAt Column -->
  <ng-container matColumnDef="blockedAt">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element">
      {{ element.blockedAt ? "Blocked" : "Active" }}
    </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        [matMenuTriggerFor]="actionMenu"
        [matMenuTriggerData]="element"
      >
        <mat-icon class="material-symbols-outlined">more_vert</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-menu #actionMenu="matMenu">
  <ng-template matMenuContent let-id="id">
    <button mat-menu-item (click)="onViewHandler(id)">
      <mat-icon class="material-symbols-outlined">preview</mat-icon>View
    </button>
    <button mat-menu-item (click)="onEditHandler(id)">
      <mat-icon class="material-symbols-outlined">edit</mat-icon>Edit
    </button>
    <button mat-menu-item (click)="onDeleteHandler(id)">
      <mat-icon class="material-symbols-outlined">delete</mat-icon>Delete
    </button>
  </ng-template>
</mat-menu>
