<div class="mat-elevation-z1 dashboard-card">
  <div class="dashboard-card__icon content--center">
    <mat-icon>group</mat-icon>
  </div>
  <div class="dashboard-card__data">
    <span>Users</span>
    <span>10,500</span>
  </div>
</div>
<div class="mat-elevation-z1 dashboard-card">
  <div class="dashboard-card__icon content--center" style="background-color: #1abc9c">
    <mat-icon>explore</mat-icon>
  </div>
  <div class="dashboard-card__data">
    <span>Products</span>
    <span>1,200</span>
  </div>
</div>
<div class="mat-elevation-z1 dashboard-card">
  <div class="dashboard-card__icon content--center" style="background-color: #e74c3c">
    <mat-icon>event</mat-icon>
  </div>
  <div class="dashboard-card__data">
    <span>Events</span>
    <span>10</span>
  </div>
</div>
<div class="mat-elevation-z1 dashboard-card">
  <div class="dashboard-card__icon content--center" style="background-color: #f39c12">
    <mat-icon>android</mat-icon>
  </div>
  <div class="dashboard-card__data">
    <span>Downloads</span>
    <span>34,010</span>
  </div>
</div>
<div class="mat-elevation-z1 dashboard-card">
  <div class="dashboard-card__icon content--center" style="background-color: #9b59b6">
    <mat-icon>pages</mat-icon>
  </div>
  <div class="dashboard-card__data">
    <span>Views</span>
    <span>10,200</span>
  </div>
</div>

<div class="mat-elevation-z1 dashboard-card">
  <div class="dashboard-card__icon content--center" style="background-color: #2ecc71">
    <mat-icon>event</mat-icon>
  </div>
  <div class="dashboard-card__data">
    <span>Events</span>
    <span>10</span>
  </div>
</div>
<div class="mat-elevation-z1 dashboard-card">
  <div class="dashboard-card__icon content--center" style="background-color: #3498db">
    <mat-icon>android</mat-icon>
  </div>
  <div class="dashboard-card__data">
    <span>Downloads</span>
    <span>34,010</span>
  </div>
</div>
<div class="mat-elevation-z1 dashboard-card">
  <div class="dashboard-card__icon content--center" style="background-color: #e74c3c">
    <mat-icon>pages</mat-icon>
  </div>
  <div class="dashboard-card__data">
    <span>Views</span>
    <span>10,200</span>
  </div>
</div>
    

