:host {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #888;

    &>div {
        box-sizing: border-box;
        width: calc(50% - 4px);
        background-color: white;
        padding: 12px;
        border-radius: 6px;
    }
}