:host {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #888;

    &>div {
        box-sizing: border-box;
        width: calc(50% - 4px);
        background-color: white;
        border-radius: 6px;
        padding: 12px 24px;
    }
}

.details_wrapper {
    max-width: 380px;
}

.details_item {
    display: flex;
    align-items: center;
    margin: 14px 0;

    mat-icon {
        margin-right: 12px;
    }

    span {
        font-size: 18px;
    }
}