<div class="profile__image mat-elevation-z1">
  <div class="image__wrapper">
    <img src="https://s3.envato.com/files/234015188/matex-admin-Preview/004_03_Profile_Help.jpg"/>
  </div>
  <button mat-flat-button color="primary">
    <mat-icon>cloud_upload</mat-icon>&nbsp;
    <span>Upload Picture</span>
  </button>
</div>
<mat-tab-group mat-align-tabs="center" class="profile__wrapper mat-elevation-z1">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>person</mat-icon>&nbsp;&nbsp;Profile Details
    </ng-template>
    <app-profile-details></app-profile-details>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>edit</mat-icon>&nbsp;&nbsp;Edit Profile
    </ng-template>
    <app-profile-form></app-profile-form>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>lock</mat-icon>&nbsp;&nbsp;Change Password
    </ng-template>
    <app-profile-password></app-profile-password>
  </mat-tab>
</mat-tab-group>