<div class="card-header">
  <span class="text--primary">Admin Profile</span>
  <div style="flex: 1"></div>
  <button
    mat-icon-button
    color="primary"
    matTooltip="Profile Details"
    routerLink="details"
    routerLinkActive
    #detailLink="routerLinkActive"
    [disabled]="detailLink.isActive"
  >
    <mat-icon>person_outline</mat-icon>
  </button>
  <button
    mat-icon-button
    color="primary"
    matTooltip="Update Profile"
    routerLink="update"
    routerLinkActive
    #updateLink="routerLinkActive"
    [disabled]="updateLink.isActive"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <button
    mat-icon-button
    color="primary"
    matTooltip="Change Password"
    routerLink="password"
    routerLinkActive
    #passwordLink="routerLinkActive"
    [disabled]="passwordLink.isActive"
  >
    <mat-icon>lock</mat-icon>
  </button>
</div>
<router-outlet></router-outlet>
