<app-listing [config]="listingConfig">
  <ng-template appFor="list-actions">
    <button mat-icon-button color="primary" (click)="onCreateUser()">
      <mat-icon>person_add</mat-icon>
    </button>
    <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div style="">
        <button mat-button mat-icon-button color="accent">
          <mat-icon>blocked</mat-icon>
        </button>
        <button mat-button mat-icon-button color="accent">
          <mat-icon>blocked</mat-icon>
        </button>
        <button mat-button mat-icon-button color="accent">
          <mat-icon>blocked</mat-icon>
        </button>
      </div>
    </mat-menu>
  </ng-template>
  <app-table [tableSource]="tableSource"></app-table>
</app-listing>