<div *ngIf="!!mailSentTo; else formTemplate" class="forgot-seccess__container">
  <img height="144" src="assets/images/mail-sent.gif" />
  <br /><br />
  <p>
    Please check your inbox, password reset link has been sent successfully to
    your email <b>{{ mailSentTo }}</b
    >.
  </p>
  <br /><br />
  <button mat-raised-button color="primary" (click)="onBackToLoginHandler()">
    Back to login
  </button>
</div>

<ng-template #formTemplate>
  <h2>Forgot Password</h2>
  <p style="text-align: center">
    forgot your password? Don't Worry. Send us your registered email address and
    we will send you steps to reset your password.
  </p>
  <form [formGroup]="forgotForm">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Email"
        type="email"
        required
        formControlName="email"
        autocomplete="off"
        spellcheck="false"
        (keyup.enter)="onForgotMailHandler()"
      />
      <mat-icon matPrefix>email</mat-icon>
      <mat-error>{{
        emailControl.errors | validationError : "Email"
      }}</mat-error>
    </mat-form-field>
  </form>
  <div class="auth-form__actions">
    <button
      mat-button
      mat-stroked-button
      color="primary"
      (click)="onBackToLoginHandler()"
      [disabled]="forgotForm.disabled"
    >
      <!-- <mat-icon>arrow_back_ios</mat-icon> -->
      <span>Back to login</span>
    </button>
    <button
      mat-button
      mat-raised-button
      color="primary"
      [disabled]="forgotForm.disabled"
      (click)="onForgotMailHandler()"
    >
      <mat-icon>send</mat-icon>
      <span>Send</span>
    </button>
  </div>
</ng-template>
