form {
    margin-top: 48px;
}

.auth-form__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 30px;
}

mat-form-field {
    width: 100%;
}

.form-field-icon {
    color: rgba(#000, .4);
    vertical-align: bottom;
    transform: translateY(1px);
    margin-right: 2px;
}

.forgot-seccess__container {
    text-align: center;
    margin: 50px 0;
}