


@mixin user-listing-theming($theme) {
    $primary: map-get($map: $theme, $key: primary);
    .card-title {
        color: mat-color($primary, 500);
    }
    .user-link {
        color: rgba(mat-color($primary, 500), .8);
    }
}