<app-listing [list]="list">
  <ng-template appFor="list-actions">
    <button mat-button mat-icon-button color="primary" matTooltip="Refresh">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-button mat-icon-button color="primary" routerLink="create" matTooltip="Create User">
      <mat-icon>person_add</mat-icon>
    </button>
    <button mat-button mat-icon-button color="primary" matTooltip="Actions" [matMenuTriggerFor]="actionMenu" [disabled]="selection.length === 0">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #actionMenu="matMenu">
      &nbsp;
      <button mat-button mat-icon-button color="warn" matTooltip="Block">
        <mat-icon>block</mat-icon>
      </button>
      <button mat-button mat-icon-button color="warn" matTooltip="Archive">
        <mat-icon>archive</mat-icon>
      </button>
      <button mat-button mat-icon-button color="warn" matTooltip="Delete">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
      &nbsp;
    </mat-menu>
  </ng-template>
  <app-table [tableSource]="table" #dataTable="DataTable" (change)="onSelectionHandler($event)">
    <ng-template let-row="row" appFor="table-actions">
        <button mat-button mat-icon-button color="primary" matTooltip="Edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button mat-icon-button color="warn" matTooltip="Block">
          <mat-icon>block</mat-icon>
        </button>
        <button mat-button mat-icon-button color="warn" matTooltip="Archive">
          <mat-icon>archive</mat-icon>
        </button>
        <button mat-button mat-icon-button color="warn" matTooltip="Delete">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
    </ng-template>
  </app-table>
</app-listing>