<a
  href="javascript:void(0)"
  routerLink="/layout"
  routerLinkActive="disabled"
  [routerLinkActiveOptions]="{ exact: true }"
  class="header-link"
  ><mat-icon class="material-symbols-outlined">home</mat-icon></a
>

<ng-template ngFor let-step [ngForOf]="routeSteps">
  <mat-icon style="color: #aaa" class="material-symbols-outlined"
    >navigate_next</mat-icon
  >
  <a
    href="javascript:void(0)"
    [routerLink]="step.url"
    routerLinkActive="disabled"
    [routerLinkActiveOptions]="{ exact: true }"
    class="header-link"
    >{{ step.label }}</a
  >
</ng-template>

<div style="flex: 1"></div>
<ng-content></ng-content>
