:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    color: #444;
}

.header-link {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

.disabled {
    color: inherit;
    pointer-events: none;
}