:host {
    display: block;
    width: 260px;
    color: #444;
}

.filter__title {
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #666;
    margin-bottom: 10px;
}
mat-form-field {
    width: 100%;
}

.filter__actions {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
