
.auth-form__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 30px;
}

mat-form-field {
    width: 100%;
}
.form-field-icon {
    color: rgba(#000, .4);
    vertical-align: bottom;
    transform: translateY(1px);
    margin-right: 2px;
    user-select: none;
}
.form-field-icon--action {
    cursor: pointer;
    &[data-disabled = true] {
        color: rgba(#000, .2);
        cursor: default;
    }
}
.reset-seccess__container {
    text-align: center;
    margin: 50px 0;
}

.reset__verify {
    height: 100%;
    font-size: 20px;
    &::after {
        content: "...";
        animation: loadingText 1s linear infinite;
    }
}
@keyframes loadingText {
    0% {
        content: ""
    }
    33% {
        content: "."
    }
    66% {
        content: ".."
    }
    99% {
        content: "..."
    }
    100% {
        content: ""
    }
}