:host {
    display: block;
    background-color: #FFF;
    border-radius: 5px;
    overflow: hidden;
}
.table-box__header {
    display: flex;
    align-items: center;
    height: 52px;
    font-size: 24px;
    font-weight: 500;
    padding: 0 16px;
    background-color: rgba(#000, .03);
}
mat-form-field {
    width: 280px;
    padding: 5px 15px;
}
.search-clear {
    font-size: 22px;
    height: 22px;
    width: 22px;
    cursor: pointer;
    transform: translateY(5px);
    color: #444;
}
.search-clear--disabled {
    pointer-events: none;
    color: #AAA;
    cursor: default;
}
.table-container {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}
table {
    width: 100%;
    min-width: 720px;
}
.table-header {
    background-color: rgba(#000, .03);
}
.align--center {
    text-align: center;
}
.table__placeholder {
    height: 220px;
    font-size: 36px;
    color: rgba(#000, .3);
}