<h2 class="title">Verify OTP</h2>
<p>Please enter the code from your authenticator app</p>
<img class="logo" [src]="platformLogo" />
<app-otp [length]="6" [control]="otpControl"></app-otp>

<div class="actions">
  <a href="#" [routerLink]="loginUrl" mat-stroked-button color="primary">
    <mat-icon class="material-symbols-outlined">arrow_back</mat-icon> Login
  </a>
  <button
    mat-flat-button
    color="primary"
    [disabled]="otpControl.disabled"
    (click)="onVerifyHandler()"
  >
    <mat-icon class="material-symbols-outlined">verified</mat-icon> Verify
  </button>
</div>
