<mat-sidenav-container>
  <mat-sidenav style="border: none" [mode]="sideNavMode" [opened]="isSideNavOpened" (openedChange)="onSideNavOpenedChangeHandler($event)">
    <div class="sidenav__wrapper">
      <div class="mat-elevation-z1 content--center" style="height: 64px;margin-bottom: 2px;">
        <button class="account__button" matRipple matRippleColor="rgba(0, 0, 0, .1)" [matMenuTriggerFor]="adminMenu">
          <div class="account__photo content--center">
            <mat-icon>person_outline</mat-icon>
          </div>
          <span class="truncate" style="flex: 1;text-align: left">{{adminName}}</span>
          <mat-icon>arrow_drop_down</mat-icon>
          &nbsp;
        </button>
        <mat-menu #adminMenu="matMenu">
          <button mat-button color="primary" class="admin-menu__button" routerLink="/profile">
            <mat-icon>person</mat-icon>&nbsp;&nbsp;
            <span>Profile</span>
          </button>
          <button mat-button color="primary" class="admin-menu__button" (click)="onLogoutHandler()">
            <mat-icon>exit_to_app</mat-icon>&nbsp;&nbsp;
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
      <a class="sidenav__item" matRipple matRippleColor="rgba(255, 255, 255, .1)" [routerLink]="menu.link" routerLinkActive="sidenav__item--active" *ngFor="let menu of sideMenus">
        <mat-icon>{{menu.icon}}</mat-icon>&nbsp;&nbsp;
        <span>{{menu.label}}</span>
      </a>
      <div style="flex: 1"></div>
      <span class="sidenav__version">
        <mat-icon>info</mat-icon>&nbsp;&nbsp;
        <span>v</span>
        <span style="font-weight: bold">{{appVersion}}</span>
      </span>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z1">
      <button mat-button mat-icon-button (click)="onSideNavToggleHandler()" color="primary">
        <mat-icon>menu</mat-icon>
      </button>&nbsp;
      <span class="toolbar-title">Admin Panel</span>
      <div style="flex: 1"></div>
      <button mat-icon-button color="primary" matTooltip="Messages">
        <mat-icon matBadge="2" matBadgeColor="accent">messages</mat-icon>
      </button>
      <button mat-icon-button color="primary" matTooltip="Notifications">
        <mat-icon matBadge="7" matBadgeColor="accent">notifications</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onLogoutHandler()" matTooltip="Logout">
        <mat-icon>exit_to_app</mat-icon>
      </button>
      <mat-progress-bar mode="indeterminate" [attr.data-loading]="isLoading" color="primary"></mat-progress-bar>
    </mat-toolbar>
    <main class="sidenav__content">
      <app-breadcrumb class="page-header"></app-breadcrumb>
      <router-outlet #route="outlet"></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>