<mat-toolbar color="primary">
  <button mat-button mat-icon-button (click)="onSideNavToggleHandler()">
    <mat-icon>menu</mat-icon>
  </button>&nbsp;
  <span>Admin Panel</span>
  <div style="flex: 1"></div>
  <button mat-button mat-icon-button>
    <mat-icon matBadge="2" matBadgeColor="accent">messages</mat-icon>
  </button>
  <button mat-button mat-icon-button>
    <mat-icon matBadge="7" matBadgeColor="accent">notifications</mat-icon>
  </button>
  <button class="account__button" matRipple matRippleColor="rgba(255, 255, 255, .2)" [matMenuTriggerFor]="adminMenu">
    <div class="account__photo content--center">
      <mat-icon>person_outline</mat-icon>
    </div>
    <ng-template [ngIf]="!isMobileDevice">
      &nbsp;
      <span class="truncate" style="max-width: 100px">Guest Admin</span>
      <mat-icon>arrow_drop_down</mat-icon>
      &nbsp;
    </ng-template>
  </button>
  <mat-menu #adminMenu="matMenu">
    <button mat-button color="primary" class="admin-menu__button" routerLink="/admin">
      <mat-icon>person</mat-icon>&nbsp;&nbsp;
      <span>Profile</span>
    </button>
    <button mat-button color="primary" class="admin-menu__button">
      <mat-icon>exit_to_app</mat-icon>&nbsp;&nbsp;
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [mode]="sideNavMode" [opened]="isSideNavOpened" (openedChange)="onSideNavOpenedChangeHandler($event)">
    <div class="sidenav__wrapper">
      <a class="sidenav__item" [routerLink]="menu.link" routerLinkActive="sidenav__item--active" *ngFor="let menu of sideMenus">
        <mat-icon>{{menu.icon}}</mat-icon>&nbsp;&nbsp;
        <span>{{menu.label}}</span>
      </a>
      <div style="flex: 1"></div>
      <span class="sidenav__version">
        <mat-icon>info</mat-icon>&nbsp;&nbsp;
        <span>v</span>
        <span style="font-weight: bold">0.0.1</span>
      </span>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <main class="sidenav__content">
      <app-header class="mat-elevation-z1 page-header"></app-header>
      <app-loader [isActivated]="route.isActivated">
        <router-outlet #route="outlet"></router-outlet>
      </app-loader>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>