:host {
    flex-direction: column;
    height: 400px;
    background-color: #FFF;
}
span {
    margin-top: 20px;
    font-size: 32px;
    // font-weight: bold;
}
mat-icon {
    font-size: 64px;
    height: 64px;
    width: 64px;
}