<h1>Login</h1>
<p>Enter your details below to access your account.</p>
<form [formGroup]="loginForm">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="Enter"
      type="email"
      required
      formControlName="email"
      autocomplete="off"
      spellcheck="false"
      (keyup.enter)="onLoginHandler()"
    />
    <mat-icon matPrefix class="material-symbols-outlined">email</mat-icon>
    <mat-error>{{ emailControl.errors | validationError : "Email" }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      placeholder="Enter"
      [type]="isPasswordVisible ? 'text' : 'password'"
      required
      formControlName="password"
      autocomplete="off"
      spellcheck="false"
      (keyup.enter)="onLoginHandler()"
    />
    <mat-error>{{
      pwdControl.errors | validationError : "Password"
    }}</mat-error>
    <mat-icon class="material-symbols-outlined" matPrefix>vpn_key</mat-icon>
    <mat-icon
      matSuffix
      class="form-field-icon form-field-icon--action material-symbols-outlined"
      (click)="onPasswordVisibilityHandler($event)"
      [attr.data-disabled]="pwdControl.disabled"
      >{{ isPasswordVisible ? "visibility" : "visibility_off" }}</mat-icon
    >
  </mat-form-field>
  <mat-slide-toggle color="primary" formControlName="remember"
    >&nbsp;&nbsp;Remember Me</mat-slide-toggle
  >
</form>
<div class="auth-form__actions">
  <a
    href="#"
    mat-stroked-button
    color="primary"
    [routerLink]="forgetPasswordUrl"
    [disabled]="this.loginForm.disabled"
  >
    Forgot Password
  </a>
  <button
    mat-raised-button
    color="primary"
    (click)="onLoginHandler()"
    [disabled]="loginForm.disabled"
  >
    <mat-icon class="material-symbols-outlined">login</mat-icon>
    <span>Login</span>
  </button>
</div>
