<h2>Login</h2>
<p>Enter your details below to access your account.</p>
<form [formGroup]="loginForm">
  <app-input-email [control]="loginForm.controls['email']"></app-input-email>
  <app-input-password [control]="loginForm.controls['password']"></app-input-password>
  <mat-slide-toggle color="primary" formControlName="remember">Remember</mat-slide-toggle>
</form>
<div class="auth-form__actions">
  <button mat-button mat-stroked-button (click)="onForgotPasswordHandler()" [disabled]="this.loginForm.disabled">Forgot Password</button>
  <button mat-button mat-raised-button color="primary" (click)="onLoginHandler()" [disabled]="loginForm.disabled || !loginForm.valid">
    <mat-icon>exit_to_app</mat-icon>&nbsp;
    <span>Login</span>
  </button>
</div>