<app-table [tableSource]="tableSource" (optionChange)="onChangeHandler($event)" class="mat-elevation-z2" [disabled]="isLoading">
    <ng-template appFor="actions" let-user="row">
        <button mat-icon-button color="primary" matTooltip="Edit">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button [color]="user.status === 2 ? 'primary' : 'warn'" [disabled]="user.status !== 1 && user.status !== 2" [matTooltip]="user.status === 2 ? 'Unblock' : 'Block'">
            <mat-icon>{{ user.status === 2 ? 'restore' : 'block' }}</mat-icon>
        </button>
        <!-- <button mat-icon-button color="warn" matTooltip="Archive">
            <mat-icon>archive</mat-icon>
        </button> -->
        <button mat-icon-button color="warn" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
        </button>
    </ng-template>
    <ng-template appFor="dob" let-row="row">
        {{ row.dob | date : 'mediumDate' }}
    </ng-template>
    <ng-template appFor="createdAt" let-row="row">
        {{ row.createdAt | date : 'mediumDate' }}
    </ng-template>
    <ng-template appFor="updatedAt" let-row="row">
        {{ row.updatedAt | date : 'mediumDate' }}
    </ng-template>
</app-table>