form {
    margin-top: 36px;
}

.auth-form__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 30px;
}

mat-form-field {
    width: 100%;
    margin: 7px 0;
}

.form-field-icon--action {
    cursor: pointer;

    &[data-disabled=true] {
        color: rgba(#000, .2);
        cursor: default;
    }
}

.reset-seccess__container {
    text-align: center;
    margin: 50px 0;
}

.reset__verify {
    height: 100%;
    padding: 48px 0;
    box-sizing: border-box;
}