<!-- <div *ngIf="isResetDone;else formTemplate" class="reset-seccess__container">

</div> -->
<ng-container [ngSwitch]="resetState">
  <div *ngSwitchCase="'LOADING'" class="reset__verify content--center">
    <img width="100%" src="assets/images/loading.gif" />
  </div>
  <div *ngSwitchCase="'FORM'">
    <h2>Reset Password</h2>
    <p>Enter your details below to Reset your password.</p>
    <form [formGroup]="resetForm">
      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input
          matInput
          placeholder="Enter"
          required
          [type]="visibility.password ? 'text' : 'password'"
          formControlName="password"
          autocomplete="off"
          spellcheck="false"
          (keyup.enter)="onResetPasswordHandler()"
        />
        <mat-icon class="material-symbols-outlined" matPrefix>vpn_key</mat-icon>
        <mat-icon
          matSuffix
          class="material-symbols-outlined form-field-icon form-field-icon--action"
          [attr.data-disabled]="pwdControl.disabled"
          (click)="onVisibilityHandler($event, 'password')"
          >{{ visibility.password ? "visibility_off" : "visibility" }}</mat-icon
        >
        <mat-error>{{
          pwdControl.errors | validationError : "Password"
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          placeholder="Enter"
          required
          [type]="visibility.confirmPassword ? 'text' : 'password'"
          formControlName="confirmPassword"
          autocomplete="off"
          spellcheck="false"
          (keyup.enter)="onResetPasswordHandler()"
        />
        <mat-icon class="material-symbols-outlined" matPrefix>vpn_key</mat-icon>
        <mat-icon
          matSuffix
          class="material-symbols-outlined form-field-icon form-field-icon--action"
          [attr.data-disabled]="confirmPwdControl.disabled"
          (click)="onVisibilityHandler($event, 'confirmPassword')"
          >{{
            visibility.confirmPassword ? "visibility_off" : "visibility"
          }}</mat-icon
        >
        <mat-error>{{
          confirmPwdControl.errors | validationError : "Confirm password"
        }}</mat-error>
      </mat-form-field>
    </form>
    <div class="auth-form__actions">
      <button
        mat-button
        color="primary"
        mat-stroked-button
        [routerLink]="[loginUrl]"
        [disabled]="resetForm.disabled"
      >
        <!-- <mat-icon>cancel</mat-icon>&nbsp; -->
        <span>Back to Login</span>
      </button>
      <button
        mat-button
        mat-raised-button
        color="primary"
        [disabled]="resetForm.disabled"
        (click)="onResetPasswordHandler()"
      >
        <!-- <mat-icon>exit_to_app</mat-icon>&nbsp; -->
        <span>Change Password</span>
      </button>
    </div>
  </div>
  <div *ngSwitchCase="'DONE'" style="text-align: center">
    <img height="220" src="assets/images/password-success.gif" />
    <p>
      Your password has been reset successfully. You can now login with your new
      password.
    </p>
    <br /><br />
    <button mat-raised-button color="primary" [routerLink]="[loginUrl]">
      Login Now
    </button>
    <br /><br /><br /><br />
  </div>
  <div *ngSwitchDefault style="height: 100%" class="content--center">
    link expired
  </div>
</ng-container>
