<mat-toolbar color="primary" class="mat-elevation-z1">
  <div class="toolbar-title">
    <span>{{ result.title }}</span>
    <span>{{ result.id }}</span>
  </div>
  <div style="flex: 1"></div>
  <button mat-icon-button mat-dialog-close>
    <mat-icon class="material-symbols-outlined">close</mat-icon>
  </button>
</mat-toolbar>

<div class="table">
  <div class="table-row">
    <span>Created At</span>
    <span>{{ result.createdAt | date : "short" }}</span>
  </div>

  <div class="table-row">
    <span>Updated At</span>
    <span>{{ result.updatedAt | date : "short" }}</span>
  </div>
</div>

<div class="p-card">
  <h2 class="title">System User</h2>
  <div class="chip text--primary">
    <mat-icon class="material-symbols-outlined">add_box</mat-icon>ADD
  </div>
  <div class="chip text--primary" style="color: #2ecc71 !important">
    <mat-icon class="material-symbols-outlined">preview</mat-icon>VIEW
  </div>
  <div class="chip text--primary" style="color: #34495e !important">
    <mat-icon class="material-symbols-outlined">edit</mat-icon>EDIT
  </div>
  <div class="chip text--accent">
    <mat-icon class="material-symbols-outlined">block</mat-icon>STATUS
  </div>
  <div class="chip text--warn">
    <mat-icon class="material-symbols-outlined">delete</mat-icon>DELETE
  </div>
</div>

<div class="p-card">
  <h2 class="title">Organization User</h2>
  <div class="chip text--primary">
    <mat-icon class="material-symbols-outlined">add_box</mat-icon>ADD
  </div>
  <div class="chip text--primary" style="color: #2ecc71 !important">
    <mat-icon class="material-symbols-outlined">preview</mat-icon>VIEW
  </div>
  <div class="chip text--primary" style="color: #34495e !important">
    <mat-icon class="material-symbols-outlined">edit</mat-icon>EDIT
  </div>
  <div class="chip text--accent">
    <mat-icon class="material-symbols-outlined">block</mat-icon>STATUS
  </div>
  <div class="chip text--warn">
    <mat-icon class="material-symbols-outlined">delete</mat-icon>DELETE
  </div>
</div>
