<div class="dialog-header fill--primary">
  <span class="title">All Details</span>
  <button mat-icon-button>
    <mat-icon class="material-symbols-outlined">close</mat-icon>
  </button>
</div>

<div class="table-row">
  <span>Unique ID</span>
  <span>PERMISSIONS</span>
</div>
<div class="table-row">
  <span>Title</span>
  <span>Permission Management</span>
</div>

<div class="table-row">
  <span>Created At</span>
  <span>July 12, 2023</span>
</div>

<div class="table-row">
  <span>Updated At</span>
  <span>July 12, 2023</span>
</div>

<div class="p-card">
  <span class="title text--primary">System User</span>
  <span class="chip fill--primary">Add</span>
  <span class="chip fill--primary">View</span>
  <span class="chip fill--primary">Edit</span>
  <span class="chip fill--primary">Status</span>
  <span class="chip fill--primary">Delete</span>
</div>

<div class="p-card">
  <span class="title text--primary">Organization User</span>
  <span class="chip fill--primary">Add</span>
  <span class="chip fill--primary">View</span>
  <span class="chip fill--primary">Edit</span>
  <span class="chip fill--primary">Status</span>
  <span class="chip fill--primary">Delete</span>
</div>
