:host {
    display: flex;
    align-items: center;
    background-color: #FFF;
    margin: -14px -16px;
    height: 100%;
    border-radius: 2px;
    padding: 14px;
    background-color: #FFF;
}
:host-context(.success-snack) {
    color: #2ecc71;
}
:host-context(.error-snack) {
    color: #e74c3c;
}
:host-context(.warn-snack) {
    color: #ffab40;
}
:host-context(.default-snack) {
    color: #444;
}

.action-button {
    cursor: pointer;
}