<mat-card>
  <mat-card-title class="listing">
    <span class="table-title">{{label}}</span>
    <div style="flex: 1"></div>
    <button mat-button mat-icon-button color="primary" matTooltip="Search" [matMenuTriggerFor]="searchMenu" *ngIf="hasSearch">
      <mat-icon>search</mat-icon>
    </button>
    <mat-menu #searchMenu="matMenu">
      <mat-form-field style="width: 260px;padding: 0 10px" (click)="onSearchFieldHandler($event)">
        <input matInput placeholder="Search name or email" #searchField/>
      </mat-form-field>
    </mat-menu>
    <button mat-button mat-icon-button color="primary" matTooltip="Filter" (click)="onFilterHandler()">
      <mat-icon>filter_list</mat-icon>
    </button>
    <ng-template [ngTemplateOutlet]="actions"></ng-template>
  </mat-card-title>
  <mat-card-content style="overflow-x: auto;">
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-footer>
      <mat-paginator [length]="listLength" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageHandler($event)"></mat-paginator>
  </mat-card-footer>
</mat-card>
