:host {
    display: block;
    width: 100%;
    min-height: 100%;
    position: relative;
}
.loader__container {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(#000, .1);
    z-index: 999999999999999999;
    visibility: hidden;
}
.loader__container--active {
    visibility: visible;
}