<mat-toolbar color="primary" class="mat-elevation-z1">
  <div class="toolbar-title">
    <span>{{ result.title }}</span>
    <span>{{ result.id }}</span>
  </div>
  <div style="flex: 1"></div>
  <button mat-icon-button mat-dialog-close>
    <mat-icon class="material-symbols-outlined">close</mat-icon>
  </button>
</mat-toolbar>

<div class="fields">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput type="text" placeholder="Enter" [value]="result.title" />
    <!-- <mat-hint>This is mandatory</mat-hint> -->
  </mat-form-field>
  <mat-form-field *ngFor="let access of result.access">
    <mat-label>Actions</mat-label>
    <mat-select multiple [value]="access.actions">
      <mat-option value="ADD">Add</mat-option>
      <mat-option value="VIEW">View</mat-option>
      <mat-option value="EDIT">Edit</mat-option>
      <mat-option value="STATUS">Status</mat-option>
      <mat-option value="Delete">Delete</mat-option>
    </mat-select>
    <mat-hint>Allowed actions for {{ access.title }}</mat-hint>
  </mat-form-field>
</div>
