:host {
    display: block;
    width: 100%;
    min-height: 100%;
    position: relative;
}
.loader__container {
    min-height: var(--loader-size);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
    visibility: hidden;
}
.loader__container--active {
    visibility: visible;
}
.loader__container--background {
    background-color: rgba(#000, .1);
}