<h2 class="drawer__brand">Appinventiv</h2>
<a
  *ngFor="let menu of drawerMenus"
  matRipple
  matRippleColor="rgba(255, 255, 255, .1)"
  [routerLink]="[menu.link]"
  routerLinkActive="drawer__menu--active"
  [routerLinkActiveOptions]="{ exact: menu.exact }"
  (click)="onMenuHandler(menu)"
  class="drawer__menu"
>
  <mat-icon class="material-symbols-outlined">{{ menu.icon }}</mat-icon
  >&nbsp;&nbsp;&nbsp;
  <span>{{ menu.label }}</span>
  <div style="flex: 1"></div>
  <mat-icon class="material-symbols-outlined" *ngIf="menu.children?.length"
    >expand_more</mat-icon
  >
  <div *ngIf=""></div>
</a>
<div style="flex: 1"></div>
<span class="drawer__menu drawer__menu--version">
  <mat-icon class="material-symbols-outlined">info</mat-icon>&nbsp;&nbsp;&nbsp;
  <span>v</span>
  <span style="font-weight: bold">{{ appVersion }}</span>
</span>
